<div class="form-group sfx-compendium-controls">
   <button type="button" class="sfx-btn-save"><i class="fas fa-save"></i>
      {{localize "PF2E-AZTECS-LOCK-N-LOAD.Tab.SaveConfig"}}</button>
   <button type="button" class="sfx-btn-load"><i class="fas fa-download"></i>
      {{localize "PF2E-AZTECS-LOCK-N-LOAD.Tab.ApplyConfig"}}</button>
</div>

<div class="form-group">
   <label>{{localize "PF2E-AZTECS-LOCK-N-LOAD.Config.Reloading"}}</label>
   <div class="form-fields sfx-fields">
      <input
         type="text"
         name="flags.pf2e-aztecs-lock-n-load.reloading"
         data-field="reloading"
         value="{{reloading}}"
      />
      <button
         type="button"
         class="file-picker sfx-btn-icon"
         data-type="audio"
         data-target="flags.pf2e-aztecs-lock-n-load.reloading"
         title="{{localize 'PF2E-AZTECS-LOCK-N-LOAD.Tab.BrowseFiles'}}"
         tabindex="-1"
      >
         <i class="fas fa-file-audio"></i>
      </button>
      <button
         type="button"
         class="play-sound sfx-btn-icon"
         data-field="reloading"
         title="{{localize 'PF2E-AZTECS-LOCK-N-LOAD.Tab.PlaySound'}}"
      >
         <i class="fas fa-play"></i>
      </button>
   </div>
</div>
<div class="form-group">
   <label>{{localize "PF2E-AZTECS-LOCK-N-LOAD.Config.DryFire"}}</label>
   <div class="form-fields sfx-fields">
      <input
         type="text"
         name="flags.pf2e-aztecs-lock-n-load.empty"
         data-field="empty"
         value="{{empty}}"
      />
      <button
         type="button"
         class="file-picker sfx-btn-icon"
         data-type="audio"
         data-target="flags.pf2e-aztecs-lock-n-load.empty"
         title="{{localize 'PF2E-AZTECS-LOCK-N-LOAD.Tab.BrowseFiles'}}"
         tabindex="-1"
      >
         <i class="fas fa-file-audio"></i>
      </button>
      <button
         type="button"
         class="play-sound sfx-btn-icon"
         data-field="empty"
         title="{{localize 'PF2E-AZTECS-LOCK-N-LOAD.Tab.PlaySound'}}"
      >
         <i class="fas fa-play"></i>
      </button>
   </div>
</div>
<div class="form-group">
   <label>{{localize "PF2E-AZTECS-LOCK-N-LOAD.Config.ChangeDamageType"}}</label>
   <div class="form-fields sfx-fields">
      <input
         type="text"
         name="flags.pf2e-aztecs-lock-n-load.damageType"
         data-field="damageType"
         value="{{damageType}}"
      />
      <button
         type="button"
         class="file-picker sfx-btn-icon"
         data-type="audio"
         data-target="flags.pf2e-aztecs-lock-n-load.damageType"
         title="{{localize 'PF2E-AZTECS-LOCK-N-LOAD.Tab.BrowseFiles'}}"
         tabindex="-1"
      >
         <i class="fas fa-file-audio"></i>
      </button>
      <button
         type="button"
         class="play-sound sfx-btn-icon"
         data-field="damageType"
         title="{{localize 'PF2E-AZTECS-LOCK-N-LOAD.Tab.PlaySound'}}"
      >
         <i class="fas fa-play"></i>
      </button>
   </div>
</div>
<div class="form-group">
   <label>{{localize "PF2E-AZTECS-LOCK-N-LOAD.Config.Equip"}}</label>
   <div class="form-fields sfx-fields">
      <input
         type="text"
         name="flags.pf2e-aztecs-lock-n-load.unsheathe"
         data-field="unsheathe"
         value="{{unsheathe}}"
      />
      <button
         type="button"
         class="file-picker sfx-btn-icon"
         data-type="audio"
         data-target="flags.pf2e-aztecs-lock-n-load.unsheathe"
         title="{{localize 'PF2E-AZTECS-LOCK-N-LOAD.Tab.BrowseFiles'}}"
         tabindex="-1"
      >
         <i class="fas fa-file-audio"></i>
      </button>
      <button
         type="button"
         class="play-sound sfx-btn-icon"
         data-field="unsheathe"
         title="{{localize 'PF2E-AZTECS-LOCK-N-LOAD.Tab.PlaySound'}}"
      >
         <i class="fas fa-play"></i>
      </button>
   </div>
</div>
<div class="form-group">
   <label>{{localize "PF2E-AZTECS-LOCK-N-LOAD.Config.Holster"}}</label>
   <div class="form-fields sfx-fields">
      <input
         type="text"
         name="flags.pf2e-aztecs-lock-n-load.sheathe"
         data-field="sheathe"
         value="{{sheathe}}"
      />
      <button
         type="button"
         class="file-picker sfx-btn-icon"
         data-type="audio"
         data-target="flags.pf2e-aztecs-lock-n-load.sheathe"
         title="{{localize 'PF2E-AZTECS-LOCK-N-LOAD.Tab.BrowseFiles'}}"
         tabindex="-1"
      >
         <i class="fas fa-file-audio"></i>
      </button>
      <button
         type="button"
         class="play-sound sfx-btn-icon"
         data-field="sheathe"
         title="{{localize 'PF2E-AZTECS-LOCK-N-LOAD.Tab.PlaySound'}}"
      >
         <i class="fas fa-play"></i>
      </button>
   </div>
</div>
<div class="form-group">
   <label>{{localize "PF2E-AZTECS-LOCK-N-LOAD.Config.MissAttack"}}</label>
   <div class="form-fields sfx-fields">
      <input
         type="text"
         name="flags.pf2e-aztecs-lock-n-load.miss"
         data-field="miss"
         value="{{miss}}"
      />
      <button
         type="button"
         class="file-picker sfx-btn-icon"
         data-type="audio"
         data-target="flags.pf2e-aztecs-lock-n-load.miss"
         title="{{localize 'PF2E-AZTECS-LOCK-N-LOAD.Tab.BrowseFiles'}}"
         tabindex="-1"
      >
         <i class="fas fa-file-audio"></i>
      </button>
      <button
         type="button"
         class="play-sound sfx-btn-icon"
         data-field="miss"
         title="{{localize 'PF2E-AZTECS-LOCK-N-LOAD.Tab.PlaySound'}}"
      >
         <i class="fas fa-play"></i>
      </button>
   </div>
</div>