<div class="form-group">
   <label>Reloading</label>
   <div class="form-fields">
      <input
         type="text"
         name="flags.pf2e-aztecs-lock-n-load.reloading"
         data-field="reloading"
         value="{{reloading}}"
      />
      <button
         type="button"
         class="file-picker"
         data-type="audio"
         data-target="flags.pf2e-aztecs-lock-n-load.reloading"
         title="Browse Files"
         tabindex="-1"
      >
         <i class="fas fa-file-audio"></i>
      </button>
      <button
         type="button"
         class="play-sound"
         data-field="reloading"
         title="Play Sound"
      >
         <i class="fas fa-play"></i>
      </button>
   </div>
</div>
<div class="form-group">
   <label>Dry Fire</label>
   <div class="form-fields">
      <input
         type="text"
         name="flags.pf2e-aztecs-lock-n-load.empty"
         data-field="empty"
         value="{{empty}}"
      />
      <button
         type="button"
         class="file-picker"
         data-type="audio"
         data-target="flags.pf2e-aztecs-lock-n-load.empty"
         title="Browse Files"
         tabindex="-1"
      >
         <i class="fas fa-file-audio"></i>
      </button>
      <button
         type="button"
         class="play-sound"
         data-field="empty"
         title="Play Sound"
      >
         <i class="fas fa-play"></i>
      </button>
   </div>
</div>
<div class="form-group">
   <label>Change Damage Type</label>
   <div class="form-fields">
      <input
         type="text"
         name="flags.pf2e-aztecs-lock-n-load.damageType"
         data-field="damageType"
         value="{{damageType}}"
      />
      <button
         type="button"
         class="file-picker"
         data-type="audio"
         data-target="flags.pf2e-aztecs-lock-n-load.damageType"
         title="Browse Files"
         tabindex="-1"
      >
         <i class="fas fa-file-audio"></i>
      </button>
      <button
         type="button"
         class="play-sound"
         data-field="damageType"
         title="Play Sound"
      >
         <i class="fas fa-play"></i>
      </button>
   </div>
</div>
<div class="form-group">
   <label>Equip</label>
   <div class="form-fields">
      <input
         type="text"
         name="flags.pf2e-aztecs-lock-n-load.unsheathe"
         data-field="unsheathe"
         value="{{unsheathe}}"
      />
      <button
         type="button"
         class="file-picker"
         data-type="audio"
         data-target="flags.pf2e-aztecs-lock-n-load.unsheathe"
         title="Browse Files"
         tabindex="-1"
      >
         <i class="fas fa-file-audio"></i>
      </button>
      <button
         type="button"
         class="play-sound"
         data-field="unsheathe"
         title="Play Sound"
      >
         <i class="fas fa-play"></i>
      </button>
   </div>
</div>
<div class="form-group">
   <label>Holster</label>
   <div class="form-fields">
      <input
         type="text"
         name="flags.pf2e-aztecs-lock-n-load.sheathe"
         data-field="sheathe"
         value="{{sheathe}}"
      />
      <button
         type="button"
         class="file-picker"
         data-type="audio"
         data-target="flags.pf2e-aztecs-lock-n-load.sheathe"
         title="Browse Files"
         tabindex="-1"
      >
         <i class="fas fa-file-audio"></i>
      </button>
      <button
         type="button"
         class="play-sound"
         data-field="sheathe"
         title="Play Sound"
      >
         <i class="fas fa-play"></i>
      </button>
   </div>
</div>